<div class="container-fluid">
    <div class="row">
<nav class="navbar navbar-expand navbar-dark bg">
   
            <div class="col-6 offset-1">
                <a class="navbar-brand" routerLink="MyAPP/home">MyAPP</a>
            </div>
            <div class="col">
                <div class="collapse navbar-collapse" id="bts">
                    <button type="button" class="btn btn-light" (click)="gotoaddapp()" >Add APP</button>
                    
                    <button type="button" class="btn btn-light" >About</button>
                    <form class="form-inline my-2 my-md-0">
                      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form>
                  </div>
    </div>
  </nav>
</div>
    
</div>